
p{
  color:black;
  font-size: 50px;
  margin: 250px;
}






a:link { color: blue; }          

a:visited { color: purple; }    


a:hover { background: yellow; } 

a:active { color: red; }         

p:active { background: green; }   