html {
  font-family: monospace;
  font-size: 40px;
  color: #005500;;
}

nav a{
  display: flex;
  flex-direction:column;
  background: red;
  width: max-content;

}
nav a{
  width: max-content;
  background: red;
  margin: 50px 0;

}