*{
  margin:0;
  padding: 0;
  box-sizing: bording-box;

}



html{
  font-family: Arial;
}

header{
  padding: 0.1vmin;
  background: #0008;
  margin-bottom: 2vmin;
  text-align: center;

}


header h1{
  font-size: 100px;
}




.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_item{
  margin: 2vmin;
}