


#img {
  width: 60vmin;
  height: 60vmin;
  margin-top: 10%;
  margin-left: 30%;
  
}


.rotate {
  animation: rotateBox 5s infinite linear;
}

.cool-box {
  width: 100px;
  height: 100px;
  background: rgb(0, 0, 255);
  display: inline-block;
  margin: 5px;
}

.space-filler {
  width: 20vw;
  height: 500vh;
  background: lightblue;
}

.some-text {
  position: absolute;
}

@keyframes rotateBox {
  from { transform: rotateZ(0deg);}
  to { transform: rotateZ(360deg);}
}